.calculator {
  width: 350px;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
.calculator-display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  color: #000000;
  background-color: #3f3f3f;
  border-radius: 5px;
  margin-bottom: 10px;
}
.calculator-display__item,
.calculator-display__preVue {
  width: 97%;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: right;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  font-family: "Century Gothic", serif;
}
.calculator-display__preVue {
  font-size: 12px;
  letter-spacing: 2px;
}
.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.button-column {
  position: relative;
  width: 25%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.button-column--short {
  justify-content: flex-start;
}
.button-column--short--end {
  justify-content: flex-end;
}
.button-column--short--center {
  justify-content: center;
}
.button-column__item {
  padding: 5px 5px 5px 0;
}
.button-column__item--zero {
  width: 190%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.button-column__item--backspace {
  width: 190%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.button-column__item .btn {
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.button-column__item .btn--equal {
  background-color: #ffa600;
}
.button-column__item .btn--equal:hover {
  background-color: #ff7000;
}
.button-column__item .btn--equal:active {
  background-color: #3b393b;
}
.button-column__item .btn--number {
  background-color: #3b393b;
}
.button-column__item .btn--zero {
  width: 100%;
}
.button-column__item .btn:hover {
  background-color: #585858;
}
.button-column__item .btn:active {
  background-color: #1e1c1e;
  color: #ffffff;
}
.button-column__item .btn--operator {
  background-color: #ffa600;
}
.button-column__item .btn--operator:hover {
  background-color: #ff7000;
}
.button-column__item .btn--operator:active {
  background-color: #3b393b;
}
/*# sourceMappingURL=calculatorModule.css.map */