.calculator {
  width: 350px;

  background-color: transparent;

  padding: 10px;

  border-radius: 5px;
  position: relative;

  &-display{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    height: 60px;

    color: #000000;

    background-color: #3f3f3f;
    border-radius: 5px;

    margin-bottom: 10px;

    &__item,
    &__preVue {
      width: 97%;

      background-color: transparent;
      outline: none;
      border: none;

      text-align: right;
      color: #ffffff;
      font-size: 18px;
      line-height: 18px;
      font-family: "Century Gothic", serif;
    }
    &__preVue {
      font-size: 12px;
      letter-spacing: 2px;

    }

  }
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button-column {
  position: relative;

  width: 25%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  &--short {
    justify-content: flex-start;

    &--end {
      justify-content: flex-end;

    }

    &--center {
      justify-content: center;
    }
  }

  &__item {
    padding: 5px 5px 5px 0;

    &--zero {
      width: 190%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
    }

    &--backspace {
      width: 190%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }

    .btn {
      width: 100%;


      color: #ffffff;
      font-size: 18px;
      line-height: 25px;

      outline: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      text-align: center;

      &--equal {
        background-color: #ffa600;

        &:hover {
          background-color: #ff7000;
        }

        &:active {
          background-color: #3b393b;
        }
      }
        &--number {
          background-color: #3b393b;
        }

        &--zero {
          width: 100%;
        }

        &:hover {
          background-color: #585858;
        }

        &:active {
          background-color: #1e1c1e;

          color: #ffffff;
        }

        &--operator {
          background-color: #ffa600;

          &:hover {
            background-color: #ff7000;
          }

          &:active {
            background-color: #3b393b;
          }
        }
      }
    }
  }
