.logo {
  cursor: pointer;
  height: 60px;
  width: 70px;
}
.logo1 {
  cursor: pointer;
  height: 38px;
  width: 40px;
}
.logo1:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.logo2 {
  cursor: pointer;
  height: 28px;
  width: 30px;
}
.logo2:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.header {
  background-color: #8e9a7d;
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cabinet {
  font-family: 'Alata', sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}
.header-button {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  font-size: 0;
  color: transparent;
}
.header-button--full-screen {
  width: 50px;
  height: 40px;
  background-image: url("../assets/full.svg");
  background-size: 35px 35px;
}
.header-button--full-screen:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.header-button--close {
  width: 50px;
  height: 40px;
  background-image: url("../assets/back-arrow.svg");
  background-size: 55px 50px;
}
.header-button--close:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.header-button--log-out {
  width: 50px;
  height: 45px;
  background-image: url("../assets/logout.svg");
  background-size: 55px 45px;
}
.header-button--log-out:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.footer {
  color: #ffffff;
  position: fixed;
  height: 80px;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(38, 38, 38, 0.8);
  justify-content: flex-end;
}
.footer__text {
  line-height: 1.2em;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  font-size: 14px;
  padding: 0 10px 0 0;
}
.copyright {
  margin-top: 13px;
  margin-bottom: 0;
}
body {
  margin: 0;
  padding: 0;
}
.cabinet {
  justify-content: flex-end;
}
.main-wrapper {
  font-family: 'Alata', sans-serif;
  background-color: #b6dfaa69;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.custom-input {
  padding: 7px;
  border: none;
  opacity: 0.7;
  outline: none;
  border-bottom: 2px solid #3399ff;
  transition-duration: 0.8s;
}
.custom-input:focus {
  background-color: #4CAF50;
  color: white;
  border-bottom: 2px solid #9900cc;
}
.authorization-form-item {
  margin-bottom: 5px;
}
.authorization-form-item__message {
  color: red;
}
.custom-button {
  padding: 5px;
  background-color: #fff;
  color: #000;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.custom-button:hover {
  background-color: #4CAF50;
  color: #fff;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  height: 300px;
  width: 500px;
}
main__authorization-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  width: 100%;
}
.forgottenPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8e9a7d;
  width: 100%;
  height: 100vh;
}
.forgottenPassword__btn-close {
  text-align: center;
}
.forgottenPassword-form__item {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.forgottenPassword__main {
  width: 25%;
}
.forgottenPassword-form__label {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.label-element {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}
.hidden {
  display: none;
}
.close {
  display: flex;
  flex-direction: row-reverse;
}
.close__btn {
  padding: 5px 10px;
}
/*# sourceMappingURL=autorization.css.map */