@import "helpers/helpersMain";
@import "header";
@import 'footer';
body{
  margin: 0;
  padding: 0;
}

.display-flex(){
  display: flex;
  align-items: center;
  justify-content: center;
}


.cabinet {
  justify-content: flex-end;
}

.main-wrapper {
  font-family: 'Alata', sans-serif;
  background-color: @backgroundWrapper;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.wrapper {
  .display-flex();
  text-align: @alignCenter;
}

.custom-input{
  padding: 7px;
  border:none;
  opacity: 0.7;
  outline: none;
  border-bottom: 2px solid #3399ff;
  transition-duration: 0.8s;
  &:focus {
    background-color: #4CAF50;
    color: white;
    border-bottom: 2px solid #9900cc;
  }
}
.authorization-form-item {
  margin-bottom: @padding5px;

  &__message{
    color: red;
  }
}
.custom-button{
  padding: @padding5px;
  background-color: @buttonBackgroundColor;
  color: @buttonTextColor;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &:hover {
    background-color: @buttonBackgroundColorHover;
    color: @buttonTextColorHover;
  }
}

main {
  .display-flex();
  flex-direction: column;
  margin: 0 auto;
  height: @mainWrapperHeight;
  width: @mainWrapperWidth;

  &__authorization-form {
    .display-flex();
    flex-direction: column;
    justify-content: space-between;
    height: @authorizationHeight;
    width: @authorizationWidth;
  }
}

.forgottenPassword{
  display: flex;

  flex-direction: column;
  align-items: center;
  background-color: @backgroundHeader;
  width: 100%;
  height: 100vh;

  &__btn-close {
    text-align: center;
  }

  &-form__item {
    display: flex;
    justify-content: center;
    margin-bottom: @padding5px;
  }
  &__main{
    width: 25%;

  }

  &-form__label {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
}

.label-element {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}

.hidden{
  display: none;
}

.close {
  display: flex;
  flex-direction: row-reverse;

  &__btn {
    padding: 5px 10px;
  }
}
