.footer {
  color: #ffffff;
  position: fixed;
  height: 80px;
  bottom:0;
  text-align:center;
  width:100%;
  background-color: rgba(38, 38, 38, 0.8);
  justify-content: flex-end;
}
.footer__text{
  line-height: 1.2em;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  font-size: 14px;
  padding: 0 10px 0 0;
}
.copyright{
  margin-top: 13px;
  margin-bottom: 0;
}