@import "helpers/helpersMain";

.logo{
  cursor:pointer;
  height: 60px;
  width: 70px;
}
.logo1 {
  cursor:pointer;
  height: 38px;
  width: 40px;
  &:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
}
.logo2 {
  cursor:pointer;
  height: 28px;
  width: 30px;
  &:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
}
.header{
  background-color: @backgroundHeader;
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cabinet {
  font-family: 'Alata', sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.header-button {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;

  font-size: 0;
  color: transparent;

  &--full-screen {
    width: 50px;
    height: 40px;
    background-image: url("../assets/full.svg");
    background-size: 35px 35px;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
 }

  &--close {
    width: 50px;
    height: 40px;
    background-image: url("../assets/back-arrow.svg");
    background-size: 55px 50px;


    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
  }

  &--log-out {
    width: 50px;
    height: 45px;

    background-image: url("../assets/logout.svg");

    background-size: 55px 45px;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
  }
}
