@import "helpers/helpersMain";
@import "header";
body {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}


.login-name{
  color: white;
  margin: auto;
}

.table-wrapper{
  width: 100%;
}
.active{
  background: pink;
}

.notification-groups{
    font-size: 14px;
  border: 2px solid #9900cc;
  border-radius: 10px;
  width: 211px;
  margin-right: 5px;
}

.group-wrapper{
  display: flex;
  width: 100%;
  position: relative;
  &__item{
    display: flex;
    align-items: center;

  }
}
.modes{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.authorization-form__btn {
  padding: @padding5px;
  background-color: @buttonBackgroundColor;
  color: @buttonTextColor;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  margin: 0 5px;
  &:hover {
    background-color: @buttonBackgroundColorHover;
    color: @buttonTextColorHover;
  }
  &--exite {
    background-color: #008800;
  }
}

.row {
  display: flex;
  justify-content: space-around;
  /*border: 1px solid #000000;*/
  border-top: 0;
  border-collapse: collapse;

  & input:disabled {
    color: @buttonTextColor;
    background-color: rgba(186, 234, 187, 0.67);
  }

  & input {
    color: #ffffff;
    background-color: rgba(5, 11, 144, 0.7);
  }
}

.btn {
  &:extend(.authorization-form__btn);
  font-family: 'Alata', sans-serif;
  &:hover {
    background-color: @buttonBackgroundColorHover;
    color: @buttonTextColorHover;
  }
  &--exite {
    background-color: #008800;
  }
}

.main-wrapper {
  font-family: 'Alata', sans-serif;
  background-color: @backgroundWrapper;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.myAccount-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wrapper {
  display: flex;
  padding: 50px;
  text-align: center;

  margin: 0 auto;
  font-size: 24px;
  font-weight: 400;
  color: @buttonTextColor;
  line-height: 28px;

  & h2 {
    font-family: 'Alata', sans-serif;
    margin-bottom: 20px;
    color: @buttonTextColor;
    text-transform: uppercase;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
}

.result-table,
.row{
  width: 100%;
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: row;
  justify-content: center;
}

.control-wrapper {
padding: 10px;
  margin-right: 10px;
  width:20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notification-container {
  width: 100%;

    &__massage {
      padding: 10px;
      margin: 5px 0;

      font-size: 17px;
      color: #ffffff;
      background-color: #ffffff;
      text-align: center;
      border-radius: 10px;
    }

    &__update {
      color: #000000;
      background-color: rgb(144, 238, 144);
    }
    &__delete {
      background-color: rgb(231, 56, 52);

  }
}

.result-table__item,
.row_childs{
  font-family: 'Alata', sans-serif;
  text-align: center;

  width: calc(100% / 4);
  color: @buttonTextColor;
  background-color: #b3d4b3e6;
  /*background-color: #cd2b22;*/
  border: 2px solid #976d5d5c;
  padding: 5px;
}

.row_childs {
  font-size: 14px;
}

.input-container {
  font-family: 'Alata', sans-serif;
  font-size: 18px;
  //display: flex;
  //flex-direction: column;
  //width: calc(100% / 6.5);
  margin: 0 5px;

  &label {
    color: @buttonTextColor;
  }
}

.input-item {
  font-size: 14px;
  padding: 10px 5px;
  margin-top: 5px;

  border:none;
  opacity: 0.7;
  outline: none;
  border-bottom: 2px solid #3399ff;
  transition-duration: 0.8s;

  &:focus {
    background-color: #4CAF50;
    color: white;
    border-bottom: 2px solid #9900cc;
  }
}
.control {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;

  &__input {
    background-color: #73a764;
    font-family: 'Alata', sans-serif;
    display: block;
    width: 60%;
    height: 40px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 14px;
    color: @buttonTextColor;
    border-radius: 12px;
    opacity: 1;
    transition: opacity 0.1s linear;

    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.5;
    }
  }
}
body{
  margin: 0;
  padding: 0;
}
.wrapper1{

  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 50px;
  background-color: transparent;
  height: 100%;

}

.canvas-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
}
.canvas{
  background: #50D2CC;
  border: 1px solid black;

}
.control-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.settings-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  //margin-top: 20px;
  //margin-bottom:20px ;
  padding: 10px 20px 10px 10px;
  height: 350px;
  border: 1px solid black;

}
.output{
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  align-items: center;
}
.chat-wrapper{
  width: 20%;
}
.custom-input{
  padding: 7px;
  border:none;
  opacity: 0.7;
  outline: none;
  border-bottom: 2px solid #3399ff;
  transition-duration: 0.8s;
  width: 96%;

}
.custom-input:focus {
  background-color: #4CAF50;
  color: white;
  border-bottom: 2px solid #9900cc;
}
.custom-button {
  padding: 5px;
  background-color: #9900cc;
  color: white;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.custom-button:hover {
  background-color: #4CAF50;
  color: #9900cc;
}
.wrapper2{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  &__convert{
    text-align: center;
  }
}

.convert-group{
width: 800px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  &__item {
    display: flex;
    margin-bottom: 2px;
    margin-right: 3px;
    width: auto;
    background-color: #50D2CC;
  }
}
.converter-wrapper{
  display: flex;
  width: 800px;
  height: 300px;
  border: 2px solid;
  justify-content: center;
}
.display-none{
  display: none;
}
.print-form__header{
  margin-top: 0;
}
.print-form {
  width: 33.3%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.modal-setting{
  display: flex;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.mainSettings {
  font-family: 'Alata', sans-serif;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 20%;
  top: 25%;
  background-color: @backgroundWrapper;
  border-radius: 15px;
  flex-direction: column;
}

.lengs {
  width: 50%;
  padding: 5px;
  background-color: #fff;
  color: #000;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 5px;
}
.settings-title {
  width: 120px;
  height: 50px;
  margin-left: 30px;
}

.mainSettings_content{
  margin-bottom: 10%;
}
.settings--inputCheckbox{
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: 10%;
}
.btn {
  &:extend(.authorization-form__btn);
  font-family: 'Alata', sans-serif;
  &:hover {
    background-color: @buttonBackgroundColorHover;
    color: @buttonTextColorHover;
  }
  &--exit {
    background-color: #008800;
  }
}

.checkBox{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 5px;
  cursor: pointer;
  background-color: @buttonBackgroundColor;
  color: @buttonTextColor;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  font-size: 25px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.close {
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
}

.hidden {
  display: none;
}

.settings-item {
  margin-top: 20px;
  padding: @padding5px;
  background-color: @buttonBackgroundColor;
  color: @buttonTextColor;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 5px;
}

.btn-close{
  margin-top: 20px;
  padding: 8px;
  background-color: @buttonBackgroundColor;
  color: @buttonTextColor;
  border: 2px solid #4CAF50;
  border-radius: 12px;
  font-size: 200%;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 5px;
}

.settings-lengs{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 15%;
  padding: 5px;
  background-color: @buttonBackgroundColor;
  color: @buttonTextColor;
  border: 2px solid #4CAF50;
  border-radius: 15px;
  font-size: 25px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  &__item {
    display: flex;
    justify-content: center;
  }
}

.settingsReset{
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: @buttonBackgroundColor;
  color: @buttonTextColor;
  border: 2px solid #4CAF50;
  border-radius: 12px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.text{
  width: 100px;
  height: 30px;
}

.resetBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  background-color: #5a9d9e00;
  font-family: 'Alata', sans-serif;
  display: block;
  width: 60%;
  height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 30px;
  color: @buttonTextColor;
  border-radius: 12px;
  opacity: 1;
  transition: opacity 0.1s linear;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.switch {
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;

  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50px;
}
.btn-settings-background{
  background: url("../assets/settings.png") no-repeat center;
  background-size: 55px 50px;
  padding: 30px;
  border: none;
}
