.logo {
  cursor: pointer;
  height: 60px;
  width: 70px;
}
.logo1 {
  cursor: pointer;
  height: 38px;
  width: 40px;
}
.logo1:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.logo2 {
  cursor: pointer;
  height: 28px;
  width: 30px;
}
.logo2:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.header {
  background-color: #8e9a7d;
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cabinet {
  font-family: 'Alata', sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}
.header-button {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  font-size: 0;
  color: transparent;
}
.header-button--full-screen {
  width: 50px;
  height: 40px;
  background-image: url("../assets/full.svg");
  background-size: 35px 35px;
}
.header-button--full-screen:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.header-button--close {
  width: 50px;
  height: 40px;
  background-image: url("../assets/back-arrow.svg");
  background-size: 55px 50px;
}
.header-button--close:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.header-button--log-out {
  width: 50px;
  height: 45px;
  background-image: url("../assets/logout.svg");
  background-size: 55px 45px;
}
.header-button--log-out:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.button {
  padding: 5px;
  background-color: #fff;
  color: #000;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button:hover {
  background-color: #4CAF50;
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
}
.wrapper {
  background: #b6dfaa69;
  height: 100vh;
  width: 100vw;
  font-family: 'Alata', sans-serif;
  margin: 0;
  padding: 0;
}
.content-box {
  width: 33%;
  position: relative;
  margin: 0 auto;
}
.registration-form {
  display: flex;
  flex-direction: column;
}
.registration-form__item {
  display: flex;
  flex-direction: column;
  padding: 2px 0 2px 0;
  font-size: 20px;
}
.registration-form__item:last-child {
  display: inline-block;
  text-align: right;
}
.registration-form input {
  padding: 7px;
  border: none;
  opacity: 0.7;
  outline: none;
  border-bottom: 2px solid #3399ff;
  transition-duration: 0.8s;
}
.registration-form input:focus {
  background-color: #4CAF50;
  color: white;
  border-bottom: 2px solid #9900cc;
}
.registration-form input::-webkit-input-placeholder {
  color: #635555;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
}
.alert-error {
  font-size: 18px;
  color: red;
}
.notification {
  font-size: 18px;
  color: grey;
}
.footer {
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-top: -100px;
}
.footer__text {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  font-size: 16px;
  padding: 0px 10px 0 0;
}
.dic {
  margin-bottom: 10px;
}
/*# sourceMappingURL=registration.css.map */